<li class="gallery-item">
  <div class="photo-card" id="img-{{id}}">
    <img src="{{webformatURL}}" alt="" data-src="{{largeImageURL}}" />

    <div class="stats">
      <p class="stats-item">
        <i class="material-icons">thumb_up</i>
        {{likes}}
      </p>
      <p class="stats-item">
        <i class="material-icons">visibility</i>
        {{views}}
      </p>
      <p class="stats-item">
        <i class="material-icons">comment</i>
        {{comments}}
      </p>
      <p class="stats-item">
        <i class="material-icons">cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </div>
</li>